.container {
  margin-top: -20px;

  .introduce {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .preffix {
      font-size: 20px;
      font-weight: 400;
      color: rgb(116, 116, 116);
    }
    
    h1 {
      margin: 10px 0 0 0;
      font-size: 36px;
    }
  
    h3 {
      margin-top: 10px;
      font-size: 20px;
      font-weight: 400;
      color: rgb(116, 116, 116);
    }

    button {
      border: none;
      border-radius: 10px;
      background-color: var(--color-primary);
      padding: 20px 30px;
      color: white;
      text-transform: uppercase;
      background-image: var(--gradient-primary);
      box-shadow: 0px 10px 30px rgb(118 85 225 / 30%);
      cursor: pointer;
      transition: all 0.3s;
      font-size: 14px;

      &:hover {
        background: black;
      }
    }
  }

  .about_me {
    color: rgb(69, 69, 69);
    line-height: 23px;
  }
  
  p {
    color: rgb(69, 69, 69);
    line-height: 22px;

    span, a {
      font-weight: 500;
      color: black;
    }

    a {
      text-decoration: underline;
    }
  }

  ul {
    color: rgb(69, 69, 69);

    li {
      line-height: 22px;
    }
  }
}
